<!DOCTYPE html>
<html>

<head>
  <style>
    div.canvasContainer {
      width: 1000px;
      border: 2px dotted red;
    }

    div.canvasRow {
      width: 1000px;
      display: flex;
      flex-grow: inherit;
      flex-shrink: initial;
    }

    div.dybox {
      position: relative;
      width: 100px;
      height: 30px;
      border: 1px solid green;
    }

    div.opgrp,
    div.ipgrp {
      position: absolute;
      margin: 0px;
      top: 0px;
      left: 0;
      width: 100px;
      height: 30px;
      margin: 0px;
      border: 1px solid red;
      overflow: hidden;
    }

    div.opgrp2,
    div.ipgrp2 {
      position: absolute;
      margin: 0px;
      top: 30px;
      left: 0;
      width: 100px;
      height: 30px;
      margin: 0px;
      border: 1px solid red;
      overflow: hidden;
      z-index: -1;

    }

    input[type="text"] {
      margin: 0px;
      width: 90px;
      height: 30px;
    }

    p {
      margin: 0px;
      width: 100px;
      height: 30px;
      z-index: 1;
    }
  </style>
</head>

<body>


  <p>N7348798498539485:</p>

  <input type="text" style="width: 1000px;" value="servsl" />

  <div class="canvasContainer">

    <div class="canvasRow">

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>


      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>



    </div>

    <div class="canvasRow" style="display:flex;">



      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>


    </div>


    <div class="canvasRow" style="display:flex;">



      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>

      <div class="dybox">
        <div class="opgrp">
          <p>p content in op</p>
        </div>
        <div class="ipgrp"><input type="text" value="inp content in ip" />
        </div>
      </div>


    </div>

  </div>










</body>

</html>