<html>

<div style="border: 1px solid black;display:inline block;width:20rem;" >
<div style="border: 1px solid black;"><p>Username</p></div>
<input style="width:20rem;height:4rem;" ></input>
</div>

<div style="border: 1px solid black;display:inline block;width:20rem;text-align:right;" >
<div style="border: 1px solid black;"><p>Username</p></div>
<input style="width:20rem;height:4rem;" ></input>
</div>


<div style="border: 1px solid black;display:flex;columns:2;width:20rem;" >
<div style="border: 1px solid black;"><p>Username</p></div>
<input style="width:20rem;height:4rem;" ></input>
</div>

<div style="border: 1px solid black;display:flex;columns:2;width:20rem;" >
<input style="width:20rem;height:4rem;" ></input>
<div style="border: 1px solid black;"><p>Username</p></div>
</div>




</html>