<html>

<style>
body{font-family:Consolas;padding:0;
background: radial-gradient(#e66465, #9198e5);
background: no-repeat radial-gradient(circle at 50%, #fff, #ededed 60%, #ededed 75%, #333 100%);
}
.mainContainer {}
.card {}
</style>

<body>

<div id= "mainContainer" class="mainContainer"></div>

<script src="RTrack.js" type="text/javascript"></script>
<script src="RGLine.js" type="text/javascript"></script>
<script src="Card.js" type="text/javascript"></script>
<script src="CardLayout.js" type="text/javascript"></script>

<script src="Section.js" type="text/javascript"></script>
<script src="UtilityContainer.js" type="text/javascript"></script>
<script src="MainLayout.js" type="text/javascript"></script>


</body>

</html>