<html>

<head>
    <link href="wmenubox.css" rel="stylesheet" type="text/css" />
</head>

<body onload="initiateCanvas()">

    <div id="wmenubox" class="wmenubox" style="width: 10rem;border: 2px solid black;display: flex;">

        <input type="text" value="select..." style="width:90%;;border:none;" />
        <input type="button" value="x" style="background: transparent;border:none;font-weight: 800;" />
        <input type="button" value="..." style="background: transparent;border:none;font-weight: 800;" />
    </div>
    
    <div id="resDataBox"
        style="width: 100%;displaheight: 15rem;border:1px solid black;overflow-x: hidden;overflow-y: scroll;"></div>

</body>

<script type="text/javascript" src="wmenubox.js"></script>

</html>