<html>

<head>
    <link href="wgridcanvas.css" rel="stylesheet" type="text/css" />
    <link href="../basic/basic.css" rel="stylesheet" type="text/css" />
    <link href="../wdslist/wdlist.css" rel="stylesheet" type="text/css" />
    <link href="../lnavlist/lnavlist.css" rel="stylesheet" type="text/css" />
    <link href="../wbutton/wbutton.css" rel="stylesheet" type="text/css" />
    <!-- <link href="../../datamodel/navlist.json" rel="json" type="text/json" /> -->
</head>

<body onload="initiateCanvas();">
    <div id=gridContainer" class="gridContainer">
        <div id="canvasContainer" class="canvasContainer">
        </div>
        <div id="canvasControls" class="canvasControls">
        </div>
    </div>

    <!-- <img id="imgB2198" class="imgB2198" src="../../resources/238734345.png" style="width: 10px;height:10px;" />
    <object id="navlistObj" data="../../datamodel/navlist.json" class="privateObject">
    </object>    -->
</body>

<script type="text/javascript" src="wgridcanvas.js"></script>
<script type="text/javascript" src="../wdslist/wdslistunit.js"></script>
<script type="text/javascript" src="../lnavlist/lnavlistunit.js"></script>
<script type="text/javascript" src="../wbutton/wbutton.js"></script>
<script type="text/javascript" src="../../util/strutil.js"></script>


</html>