<html>

<head>
    <link href="wgridcanvas.css" rel="stylesheet" type="text/css" />
</head>

<body onload="initiateCanvas();">

    <div id=gridContainer" class="canvasContainer">

        <div id="canvasContainer" class="canvasContainer">
        </div>
        <div id="canvasControls" class="canvasControls">
        </div>

    </div>

</body>

<script type="text/javascript" src="wgridcanvas.js"></script>
<script type="text/javascript" src="wmenuboxunit.js"></script>



</html>